CAN719From5035/src/main/resources/wsdl/EmpJobEntityUPSERT0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="EmpJob"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="unbounded" name="EmpJob"><xs:complexType><xs:sequence><xs:element nillable="false" maxOccurs="unbounded" name="userId"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:element><xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="startDate" xmlns=""/><xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="seqNumber" xmlns=""/><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="payScaleType"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="128"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="payScaleLevel"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="128"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="payScaleGroup"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="128"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="payScaleArea"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="128"/></xs:restriction></xs:simpleType></xs:element><xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="eventReason" xmlns=""/><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="customString9"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="256"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>